@use "vuetify/styles";
.prof-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem !important;
}
.v-app-bar-title a {
  color: white !important;
  font-weight: bold !important;
  font-family: "Ubuntu", sans-serif !important;
  text-decoration: none !important;
}
.v-application {
  [class*="-h2"] {
    font-size: 2rem !important;
    font-family: "Ubuntu", sans-serif !important;
  }
}
